.button {
  background-color: var(--background-light);
  border-radius: var(--border-radius);
  border: var(--border);
  color: var(--text-accent);
  font-weight: 600;
  padding: 1rem 2rem;
}

.button:hover {
  background: var(--background-gradient-light);
}

.big {
  font-size: 1.5rem;
}

.small {
  font-size: 1rem;
}
