.loader {
  display: inline-block;
  height: 10vw;
  width: 10vw;
}

.loader:after {
  animation: loader 1.5s linear infinite;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  content: '';
  display: block;
  height: 100%;
  margin: 8px;
  width: 100%;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
